@import 'config';

body {
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    font-family: 'Baloo Paaji', cursive;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    text-align: center;
    display: block;
    width: 100%;
    height: 100vh;
 

    h1 {
        position: absolute;
        top: 0;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        font-size: 3rem;
        color: white;
        padding: 5rem;
        text-shadow: 2px 2px 4px #4691FA;
        line-height: 3rem;
    }

    &__images {
        width: 100%;
        padding-top: 35vh;
        margin: 0 auto;
        min-width: 350px;
        max-width: 850px;
    }

    & img {
        width: 100%;
    } 

    & .static {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: bounce;
        animation-timing-function: linear;
    }

    & img:hover {
        cursor: pointer;
    }

    &__quote {
        position: absolute; 
        top: 40%;
        width: 100%;
        font-size: 1.5rem;
        user-select: none;
        
        &-inner {
            margin: 0 auto;
            border-radius: 20px; 
            padding: 1rem;
            width: 50%;
            background: white;
            text-align: center;
            color: #FF5660;
        }
    }

}

.bottomFade-enter-active {
    animation: goToTop 2s;
}

.bottomFade-leave-active {
    animation: goToBottom 6s;
}

@keyframes goToBottom {
    0%   { }
    85%   { opacity: 1;}
    100%  { opacity: 0;}
}

@keyframes goToTop {
    0% {
        transform: translateY(700px);
        opacity: 0;

    } 60%  {
        transform: translateY(600px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;

    }

}


.leftFade-enter-active {
    animation: goToLeft 2s;
}

.leftFade-leave-active {
    animation: goToLeft 1s reverse;
}

@keyframes goToLeft {
    0% {
        transform: translateY(-200px);
        opacity: 0;

    } 

    100% {
        transform: translateY(0);
        opacity: 1;

    }

}


.fade-enter-active {
    animation: expandQuote 2s;
}

.fade-leave-active {
    animation: expandQuote 0.5s reverse;
}

@keyframes expandQuote {
    from {
        opacity: 0;
        transform: scaleX(0);
      }
      to {
        opacity: 1;
        transform: scaleX(1);
      }
}

@keyframes bounce {
    0%   { transform: scale(1);}
    50%  { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@media only screen and (max-width: 450px) {
    .container__images {
        padding-top: 50vh;
    }

    .container__quote {
        top: 30%;
    }
}




